AppService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://service.idb.com/" name="AppService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.idb.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.idb.com/" schemaLocation="AppService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllClasses">
    <part name="parameters" element="tns:getAllClasses"/>
  </message>
  <message name="getAllClassesResponse">
    <part name="parameters" element="tns:getAllClassesResponse"/>
  </message>
  <message name="getEvaluationsByID">
    <part name="parameters" element="tns:getEvaluationsByID"/>
  </message>
  <message name="getEvaluationsByIDResponse">
    <part name="parameters" element="tns:getEvaluationsByIDResponse"/>
  </message>
  <message name="getAllEvaluations">
    <part name="parameters" element="tns:getAllEvaluations"/>
  </message>
  <message name="getAllEvaluationsResponse">
    <part name="parameters" element="tns:getAllEvaluationsResponse"/>
  </message>
  <message name="getSemestre">
    <part name="parameters" element="tns:getSemestre"/>
  </message>
  <message name="getSemestreResponse">
    <part name="parameters" element="tns:getSemestreResponse"/>
  </message>
  <message name="getAllMatieres">
    <part name="parameters" element="tns:getAllMatieres"/>
  </message>
  <message name="getAllMatieresResponse">
    <part name="parameters" element="tns:getAllMatieresResponse"/>
  </message>
  <message name="checkUser">
    <part name="parameters" element="tns:checkUser"/>
  </message>
  <message name="checkUserResponse">
    <part name="parameters" element="tns:checkUserResponse"/>
  </message>
  <message name="addEvaluations">
    <part name="parameters" element="tns:addEvaluations"/>
  </message>
  <message name="addEvaluationsResponse">
    <part name="parameters" element="tns:addEvaluationsResponse"/>
  </message>
  <message name="getMatieresByID">
    <part name="parameters" element="tns:getMatieresByID"/>
  </message>
  <message name="getMatieresByIDResponse">
    <part name="parameters" element="tns:getMatieresByIDResponse"/>
  </message>
  <message name="getAllStudents">
    <part name="parameters" element="tns:getAllStudents"/>
  </message>
  <message name="getAllStudentsResponse">
    <part name="parameters" element="tns:getAllStudentsResponse"/>
  </message>
  <message name="getEtudiantByID">
    <part name="parameters" element="tns:getEtudiantByID"/>
  </message>
  <message name="getEtudiantByIDResponse">
    <part name="parameters" element="tns:getEtudiantByIDResponse"/>
  </message>
  <message name="getAllUsers">
    <part name="parameters" element="tns:getAllUsers"/>
  </message>
  <message name="getAllUsersResponse">
    <part name="parameters" element="tns:getAllUsersResponse"/>
  </message>
  <portType name="AppService">
    <operation name="getAllClasses">
      <input wsam:Action="http://service.idb.com/AppService/getAllClassesRequest" message="tns:getAllClasses"/>
      <output wsam:Action="http://service.idb.com/AppService/getAllClassesResponse" message="tns:getAllClassesResponse"/>
    </operation>
    <operation name="getEvaluationsByID">
      <input wsam:Action="http://service.idb.com/AppService/getEvaluationsByIDRequest" message="tns:getEvaluationsByID"/>
      <output wsam:Action="http://service.idb.com/AppService/getEvaluationsByIDResponse" message="tns:getEvaluationsByIDResponse"/>
    </operation>
    <operation name="getAllEvaluations">
      <input wsam:Action="http://service.idb.com/AppService/getAllEvaluationsRequest" message="tns:getAllEvaluations"/>
      <output wsam:Action="http://service.idb.com/AppService/getAllEvaluationsResponse" message="tns:getAllEvaluationsResponse"/>
    </operation>
    <operation name="getSemestre">
      <input wsam:Action="http://service.idb.com/AppService/getSemestreRequest" message="tns:getSemestre"/>
      <output wsam:Action="http://service.idb.com/AppService/getSemestreResponse" message="tns:getSemestreResponse"/>
    </operation>
    <operation name="getAllMatieres">
      <input wsam:Action="http://service.idb.com/AppService/getAllMatieresRequest" message="tns:getAllMatieres"/>
      <output wsam:Action="http://service.idb.com/AppService/getAllMatieresResponse" message="tns:getAllMatieresResponse"/>
    </operation>
    <operation name="checkUser">
      <input wsam:Action="http://service.idb.com/AppService/checkUserRequest" message="tns:checkUser"/>
      <output wsam:Action="http://service.idb.com/AppService/checkUserResponse" message="tns:checkUserResponse"/>
    </operation>
    <operation name="addEvaluations">
      <input wsam:Action="http://service.idb.com/AppService/addEvaluationsRequest" message="tns:addEvaluations"/>
      <output wsam:Action="http://service.idb.com/AppService/addEvaluationsResponse" message="tns:addEvaluationsResponse"/>
    </operation>
    <operation name="getMatieresByID">
      <input wsam:Action="http://service.idb.com/AppService/getMatieresByIDRequest" message="tns:getMatieresByID"/>
      <output wsam:Action="http://service.idb.com/AppService/getMatieresByIDResponse" message="tns:getMatieresByIDResponse"/>
    </operation>
    <operation name="getAllStudents">
      <input wsam:Action="http://service.idb.com/AppService/getAllStudentsRequest" message="tns:getAllStudents"/>
      <output wsam:Action="http://service.idb.com/AppService/getAllStudentsResponse" message="tns:getAllStudentsResponse"/>
    </operation>
    <operation name="getEtudiantByID">
      <input wsam:Action="http://service.idb.com/AppService/getEtudiantByIDRequest" message="tns:getEtudiantByID"/>
      <output wsam:Action="http://service.idb.com/AppService/getEtudiantByIDResponse" message="tns:getEtudiantByIDResponse"/>
    </operation>
    <operation name="getAllUsers">
      <input wsam:Action="http://service.idb.com/AppService/getAllUsersRequest" message="tns:getAllUsers"/>
      <output wsam:Action="http://service.idb.com/AppService/getAllUsersResponse" message="tns:getAllUsersResponse"/>
    </operation>
  </portType>
  <binding name="AppServiceImpPortBinding" type="tns:AppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllClasses">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEvaluationsByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllEvaluations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSemestre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllMatieres">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="checkUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addEvaluations">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getMatieresByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllStudents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEtudiantByID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllUsers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AppService">
    <port name="AppServiceImpPort" binding="tns:AppServiceImpPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

